.detail-container {
  display: flex;
  flex-direction: column;
}

.image-detail {
  height: 700px;
  margin-bottom: 20px;
  background-size: cover;
}

.content-container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.content-container h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
}

.count-reviews {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #666;
}

.category,
.address {
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

.star-detail {
  font-size: 30px;
}

.star-detail > span {
  color: #13354b;
}

.empty-star-detail {
  color: white;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  font-weight: bold;
  font-size: 12px;
  flex: 1;
  background-color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  text-align: center;
}

.tab.active {
  background-color: #e0e0e0;
  color: #333;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  transform: translateX(0);
}

.tab-content {
  padding: 20px;
}